.request-view {
  // height: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
  h1 {
    font-family: var(--font);
    font-weight: 700;
    font-size: 1.5em;
    padding-top: 2%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .cont-request {
    margin-top: 20px;
    // height: 86%;
    position: relative;
    .card {
      height: 100%;

      .card-body {
        // overflow: hidden;
        // overflow-y: scroll;
        // max-height: 23.8rem;
        // max-height: 100vh;
        // max-height: 58vh;

        .style-alert {
          margin-top: 15px;
          text-align: center;
          padding: 2rem;
        }
      }
    }

    .table {
      margin-bottom: 0;
      font-size: 14px;

      a {
        text-decoration: none;
        color: var(--blue);
      }
    }

    .action-container {
      display: flex;
      align-items: center;
      flex-direction: row;

      justify-content: center;
      color: var(--primary);
      button {
        display: flex;
        border: 0;
        color: var(--primary);
        background: transparent;
        cursor: pointer;
      }
    }
  }
  .resource-view {
    .approver-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      align-items: flex-end;
      flex-direction: row;

      .title {
        display: flex;
        gap: 10px;
        align-items: center;
        h5 {
          font-weight: 600;
          margin: 0;
        }
        span {
          cursor: pointer;
          padding: 3px;
        }
        span:hover {
          background-color: #f6f6f6;
          border-radius: 50%;
          padding: 3px;
        }
      }
    }
    .actions {
      button {
        width: 80px;
        margin-right: 10px;
        font-family: var(--font);
        font-size: 14px;
        font-weight: 500;
        background: transparent;

        &.back {
          border: 1px solid var(--primary);
          border-radius: 4px;
          color: var(--primary);
        }
      }
    }

    .information {
      margin-bottom: 1em;
      label {
        font-family: var(--font);
      }
      .input-group {
        div {
          font-family: var(--font);
          white-space: nowrap;
          text-overflow: ellipsis;
          background-color: #e5e5e5;
        }
      }
    }
    // .logs {
    //   h5 {
    //     margin-bottom: 1em;
    //     margin-top: 1em;
    //   }
    //   .event {
    //     padding: 0 10px;
    //   }
    //   .output {
    //     margin-top: 20px;
    //     padding: 0 10px;
    //   }
    //   .logs-container {
    //     display: flex;
    //     flex-direction: column;
    //     border-radius: 8px;
    //     padding: 1em;
    //     background: #e5e5e5;
    //     .log {
    //       display: flex;
    //       flex-direction: row;
    //       justify-content: flex-start;
    //       align-items: flex-start;
    //       padding: 1em 0px;
    //       width: 100%;
    //       border-bottom: 1px solid #b1b1b1;
    //       font-family: var(--font);
    //       font-size: 0.8em;

    //       &:last-child {
    //         border-bottom: 0px;
    //       }
    //       p {
    //         margin: 0;
    //         font-weight: 600;
    //       }
    //       .status {
    //         width: 100%;
    //         max-width: 85px;
    //         margin-right: 10px;
    //       }
    //       .message {
    //         display: flex;
    //         gap: 10px;
    //         justify-content: space-between;
    //         flex-direction: row;
    //         align-items: center;
    //         width: 100%;

    //         p {
    //           font-weight: 400;
    //         }

    //         .log-item {
    //           flex: 1;
    //           word-wrap: break-word;
    //           word-break: break-all;
    //           white-space: normal;
    //         }
    //       }
    //     }
    //   }
    //   .error {
    //     color: #dd141d;
    //   }
    //   .info {
    //     color: blue;
    //   }
    //   .warning {
    //     color: #f48f36;
    //   }
    //   .success {
    //     color: green;
    //   }
    // }
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    // align-items: flex-end;
    align-items: center;
    .views {
      .form-group {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        label {
          margin-right: 9px;
        }
      }
    }
  }
}
