div {
    font-family: var(--font);
    label {
      font-size: 14px;
      font-weight: 600;
      color: var(--black);
    }
  
    span {
      font-size: 10px;
      font-weight: 500;
      padding-left: 2px;
    }
  }
  